/*Variables for colors*/
:root{
    --preset_color_red: #a3140e;
    --preset_color_yellow: #feb83e;
    --preset_color_yellow_secondary: #ecc68c;
    --preset_color_bg_alternative: #ececec;
    --color_white: #ffffff;
    --color_black: #000000;
}

/*CSS*/

/*******************ID*******************/

#er-logo{
    color: var(--preset_color_red);
}
#toggle-cstyle{
    background-color: var(--preset_color_red);
}
#image-home{
    margin: 0px;
    margin-top: 14px;
    margin-bottom: 18px;
    width: 650px;
}
#image-login-form{
    width: 100%;
    margin-bottom: 22px;
    margin-right: 0px;
}
#image-registration{
    width: 200px;
    margin-bottom: -30px;
}
#search-field{
    width: 40%;
    margin-top: -1;
    margin-bottom: 25px;
}
#header-span-btns{
    display: block;
    float: right;
}
/*******************CLASSES*******************/

.header-button{
    margin-right: 4px;
    margin-left: 4px;
    background-color: var(--preset_color_red);
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}

.form-list-button{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    color: var(--color_white);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.standard-button{
    width: 82px;
    height: 30px;
    font-size: 15px;
    background-color: var(--preset_color_yellow);
}

.custom-text-centered{
    width: 100%;
    text-align: center;
}

.alternative-background{
    background-color: var(--preset_color_bg_alternative);
    filter: blur(0px) brightness(100%) grayscale(0%);
}

.custom-border-red{
    border: 1px solid var(--preset_color_red)!important;
}

.custom-border-yellow{
    border: 1px solid var(--preset_color_yellow)!important;
}

.border-rounded-small{
    border-radius: 3px!important;
}

.border-rounded-medium{
    border-radius: 6px!important;
}

.border-rounded-large{
    border-radius: 10px!important;
}

.bg-red{
    background-color: var(--preset_color_red)!important;
}

.bg-yellow{
    background-color: var(--preset_color_yellow)!important;
}

.login-form-style{
    background-color: var(--preset_color_yellow_secondary)!important;
    opacity: 1;
    filter: blur(0px);
    margin-right: 0px!important;
    width: 400px;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    position: absolute;
    left: 50%;
    margin-left: -200px!important;
}

.container-form-floating{
    padding-top:5%;
    padding-bottom:5%;
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.input-style-login{
    background-color: var(--color_white);
    color: var(--color_black);
    margin-bottom: 12px;
}

.registration-title{
    color: var(--preset_color_red);
    text-align: center;
    font-size: 25px;
    margin-bottom: 3px;
}

.registration-description{
    color: var(--preset_color_red);
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
}

/*Responsiveness goes here*/
@media (max-width: 968px){

    #search-field{
        width: 50%;
        margin-top: -1;
        margin-bottom: 25px;
    }
    
}
@media (max-width: 768px){

    #search-field{
        width: 60%;
        margin-top: -1;
        margin-bottom: 25px;
    }

    #header-span-btns{
        display: block;
        float: left;
        margin-top: -5px;
        padding-bottom: 0px;
    }

    .header-button{
        margin-right: 8px;
        margin-left: 0px;
        background-color: var(--preset_color_red);
        border-radius: 12px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        font-size: 14px;
    }
    
}
@media (max-width: 525px){

    #search-field{
        width: 70%;
        margin-top: -1;
        margin-bottom: 25px;
    }
    
}
@media (max-width: 425px){

    .login-form-style{
        background-color: var(--preset_color_yellow_secondary)!important;
        opacity: 1;
        filter: blur(0px);
        margin-right: 0px!important;
        width: 300px;
        border-radius: 5px;
        padding-top: 25px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
        position: absolute;
        left: 50%;
        margin-left: -150px!important;
    }

    .registration-title{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    
    .registration-description{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
    }
    
}

@media (max-width: 320px){

    .login-form-style{
        background-color: var(--preset_color_yellow_secondary)!important;
        opacity: 1;
        filter: blur(0px);
        margin-right: 0px!important;
        width: 230px;
        border-radius: 5px;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 5px;
        position: absolute;
        left: 50%;
        margin-left: -115px!important;
    }

    .registration-title{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    
    .registration-description{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
    }
    
}

/*Resizing preset*/
/*
    @media (max-width: Xpx) and (min-width: Ypx){
        ...
    }
*/