/*Variables for colors*/
:root{
    --preset_color_red: #a3140e;
    --preset_color_yellow: #feb83e;
    --preset_color_yellow_secondary: #ecc68c;
    --preset_color_bg_alternative: #ececec;
    --color_white: #ffffff;
    --color_black: #000000;
}

/*CSS*/

/*******************ID*******************/

#er-logo{
    color: var(--preset_color_red);
}
#toggle-cstyle{
    background-color: var(--preset_color_red);
}
#image-home{
    margin: 0px;
    margin-top: 14px;
    margin-bottom: 18px;
    width: 650px;
}
#image-login-form{
    width: 100%;
    margin-bottom: 22px;
    margin-right: 0px;
}
#image-registration{
    width: 200px;
    margin-bottom: -30px;
}
#search-field{
    width: 40%;
    margin-top: -1;
    margin-bottom: 25px;
}
#header-span-btns{
    display: block;
    float: right;
}
#container-choose-registration{
    width: 30%;
    padding: 30px;
}
#container-report-order{
    padding-right: 10%;
    margin-top: 10px;
}
#container-display-orders{
    margin-top: -10px;
    width: 30%;
}
#ban-form{
    width:60%;
}
#container-report{
    width: 45%;
    padding: 30px;
}

/*******************CLASSES*******************/

.error{
	border: solid red 2px;
}

.notDisplayed{
	display: none;
}

.errorText{
	clear:left!important;
	text-align: center!important;
	color: red!important;
}

.confirm{
	border: solid green 2px;
}

.confirmText{
	clear:left!important;
	text-align: center!important;
	color: green!important;
}

.std-img{
	width: 60%;
}

.header-button{
    margin-right: 4px;
    margin-left: 4px;
    background-color: var(--preset_color_red);
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}

.header-button-smaller{
    margin-right: 4px;
    margin-left: 4px;
    background-color: var(--preset_color_red);
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}

.form-list-button{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    color: var(--color_white);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.standard-button{
    width: 82px;
    height: 30px;
    font-size: 15px;
    background-color: var(--preset_color_yellow);
}

.custom-text-centered{
    width: 100%;
    text-align: center;
}

.custom-text-right{
    width: 100%;
    text-align: end;
}

.custom-border-red{
    border: 1px solid var(--preset_color_red)!important;
}

.custom-border-yellow{
    border: 1px solid var(--preset_color_yellow)!important;
}

.border-rounded-small{
    border-radius: 3px!important;
}

.border-rounded-medium{
    border-radius: 6px!important;
}

.border-rounded-large{
    border-radius: 10px!important;
}

.bg-red{
    background-color: var(--preset_color_red)!important;
}

.bg-yellow{
    background-color: var(--preset_color_yellow)!important;
}

.bg-yellow-alt{
    background-color: var(--preset_color_yellow_secondary)!important;
}

.text-red{
    color: var(--preset_color_red);
}

.text-yellow{
    color: var(--preset_color_yellow);
}

.padding-small{
    padding: 5px!important;
}

.padding-medium{
    padding: 10px!important;
}

.padding-large{
    padding: 20px!important;
}

.login-form-style{
    background-color: var(--preset_color_yellow_secondary)!important;
    opacity: 1;
    filter: blur(0px);
    margin-right: 0px!important;
    width: 400px;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    position: absolute;
    left: 50%;
    margin-left: -200px!important;
}

.generic-form-style{
    background-color: var(--preset_color_yellow_secondary)!important;
    opacity: 1;
    filter: blur(0px);
    margin-right: 0px!important;
    width: 800px;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    position: absolute;
    left: 50%;
    margin-left: -400px!important;
}

.container-form-floating{
    margin-top:50px;
    margin-bottom:50px;
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.partial-container-form-floating{
    margin-top:50px;
    margin-bottom:50px;
}

.input-style-login{
    background-color: var(--color_white);
    color: var(--color_black);
    margin-bottom: 12px;
}

.registration-title{
    color: var(--preset_color_red);
    text-align: center;
    font-size: 25px;
    margin-bottom: 3px;
}

.registration-description{
    color: var(--preset_color_red);
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
}

.report-title{
    color: var(--preset_color_red);
    text-align: center;
    font-size: 22px;
    margin-bottom: 3px;
}

.report-description{
    color: var(--preset_color_red);
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}

.list-of-checkboxes{
    padding-left:25px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.generic-form{
    width:70%;
}

.product-card-container{
    width:60%!important;
    padding: 20px;
}

.img-preview{
    width:100px;
}

.thing-left{
    float: left;
}

.thing-right{
    float: right;
}

.img-preview-in-card{
    max-width:80%;
    margin-bottom: 5px;
}

.price-in-card{
    display: inline-block;
    padding:0px;
    margin: 0px;
    width: 100%;
    color: var(--preset_color_red);
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.title-in-card{
    display: inline-block;
    width: 100%;
    color: var(--preset_color_red);
    font-weight: bold;
    font-size: 28px;
    margin: 0px;
}

.description-in-card{
    display: inline-block;
    width: 100%;
    color: var(--preset_color_red);
    font-size: 18px;
    margin: 0px;
}

.standard-button-restyle{
    margin-bottom: 4px;
    background-color: var(--preset_color_red);
    color: var(--color_white);
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    text-align: center;
    max-width: 170px;
}

.standard-button-restyle:hover, .standard-button-restyle:link .standard-button-restyle:visited, .standard-button-restyle:active{
    color: var(--color_white);
}

.description-in-card-text{
    display: inline-block;
    width: 100%;
    color: var(--preset_color_red);
    font-size: 18px;
    margin: 0px;
    text-align: end;
    margin-top: 5px;
}

/*******************TAGS*******************/

HR{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--preset_color_red);
    margin: 1em 0;
    padding: 0;
}

A{
    text-decoration:none;
    color: var(--preset_color_red);
}

A:hover, A:link A:visited, A:active{
    text-decoration:none;
    color: var(--preset_color_red);
}



/*******************MEDIA QUERIES*******************/

@media (max-width: 1200px){

    #container-choose-registration{
        width: 40%;
        padding: 30px;
    }

    .std-img{
        width: 70%;
    }

    .img-preview{
        width:80px;
    }

    .img-preview-in-card{
        max-width:90%;
        margin-bottom: 5px;
    }
    
    .title-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-weight: bold;
        font-size: 26px;
        margin: 0px;
    }
    
    .description-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-size: 17px;
        margin: 0px;
    }
    
    .standard-button-restyle{
        margin-bottom: 4px;
        background-color: var(--preset_color_red);
        color: var(--color_white);
        border-radius: 25px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        text-align: center;
        max-width: 170px;
    }
    
}

@media (max-width: 995px){

    .header-button-smaller{
        margin-right: 1px;
        margin-left: 1px;
        background-color: var(--preset_color_red);
        border-radius: 25px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        font-size: 15px;
    }

    .std-img{
        width: 80%;
    }

    .product-card-container{
        width:70%!important;
        padding: 20px;
    }

    .img-preview{
        width:70px;
    }

}

@media (max-width: 968px){

    #search-field{
        width: 50%;
        margin-top: -1;
        margin-bottom: 25px;
    }

    #container-display-orders{
        margin-top: -10px;
        width: 40%;
    }

    #container-choose-registration{
        width: 50%;
        padding: 30px;
    }

    #container-report{
        width: 60%;
        padding: 30px;
    }
    
}
@media (max-width: 768px){

    #buttons-column-edits{
        padding-left: 0px;
    }

    #search-field{
        width: 60%;
        margin-top: -1;
        margin-bottom: 25px;
    }

    #header-span-btns{
        display: block;
        float: left;
        margin-top: -5px;
        padding-bottom: 0px;
    }

    .header-button{
        margin-right: 8px;
        margin-left: 0px;
        background-color: var(--preset_color_red);
        border-radius: 12px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        font-size: 14px;
    }

    #container-report-order{
        padding-right: 10%;
        margin-top: 8px;
    }

    .header-button-smaller{
        margin-right: 1px;
        margin-left: 1px;
        margin-top: 6px;
        background-color: var(--preset_color_red);
        border-radius: 25px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        font-size: 15px;
    }

    #container-display-orders{
        margin-top: -10px;
        width: 50%;
    }

    #container-choose-registration{
        width: 60%;
        padding: 30px;
    }

    #ban-form{
        width:80%;
    }

    #report-form{
        width:100%;
    }
    
    #container-report{
        width: 80%;
        padding: 30px;
    }
    
    .std-img{
		width: 100%;
    }
    
    .generic-form{
        width:85%;
    }

    .product-card-container{
        width:85%!important;
        padding: 20px;
    }

    .img-preview{
        width:50px;
    }
    
    .img-preview-in-card{
        max-width:100%;
        margin-bottom: 5px;
    }
    
    .title-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-weight: bold;
        font-size: 24px;
        margin: 0px;
    }
    
    .description-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-size: 16px;
        margin: 0px;
    }
    
    .standard-button-restyle{
        margin-bottom: 4px;
        background-color: var(--preset_color_red);
        color: var(--color_white);
        border-radius: 25px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        text-align: center;
        font-size: 14px;
        max-width: 170px;
    }

}

@media (max-width: 575px){

    #start-time{
        margin-bottom: 16px;
    }
    #container-report-order{
        padding-right: 10%;
        margin-top: 5px;
    }
    #container-display-orders{
        margin-top: -10px;
        width: 60%;
    }
    #container-choose-registration{
        width: 80%;
        padding: 30px;
    }
    #container-report{
        width: 90%;
        padding: 30px;
    }
    .product-card-container{
        width:90%!important;
        padding: 10px;
    }
    .img-preview{
        width:40px;
    }

    .img-preview-in-card{
        max-width:30%;
        margin-bottom: 5px;
        float: left;
    }
    
    .price-in-card{
        padding: 0px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 20%;
        margin: 0px;
        color: var(--preset_color_red);
        font-weight: bold;
        text-align: right;
        font-size: 26px;
        width: 70%!important;
    }
    
    .title-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-weight: bold;
        font-size: 28px;
        margin: 0px;
    }
    
    .description-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-size: 18px;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .standard-button-restyle{
        margin-top: 6px;
        background-color: var(--preset_color_red);
        color: var(--color_white);
        border-radius: 25px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        text-align: center;
        max-width: 170px;
    }

    .description-in-card-text{
        display: inline-block;
        width: 49%;
        color: var(--preset_color_red);
        font-size: 18px;
        margin: 0px;
        text-align: start;
        margin-top: 0px;
    }

}

@media (max-width: 525px){

    #search-field{
        width: 70%;
        margin-top: -1;
        margin-bottom: 25px;
    }
    #container-report-order{
        padding-right: 8%;
        font-size: 14px;
    }
    #container-report-order{
        padding-right: 10%;
        margin-top: 0px;
    }
    .header-button{
        margin-right: 8px;
        margin-left: 0px;
        margin-top: 5px;
        background-color: var(--preset_color_red);
        border-radius: 12px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        font-size: 14px;
    }
    #container-choose-registration{
        width: 80%;
        padding: 20px;
        padding-left:0px;
        padding-right:0px;
    }

    #container-report{
        width: 90%;
        padding: 20px;
        padding-top: 30px;
    }

    .report-title{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 18px;
        margin-bottom: 3px;
        font-weight: bold;
    }
    
    .report-description{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
    }
    
}

@media (max-width: 425px){

    .login-form-style{
        background-color: var(--preset_color_yellow_secondary)!important;
        opacity: 1;
        filter: blur(0px);
        margin-right: 0px!important;
        width: 300px;
        border-radius: 5px;
        padding-top: 25px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
        position: absolute;
        left: 50%;
        margin-left: -150px!important;
    }

    .registration-title{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    
    .registration-description{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .container-form-floating{
        margin-top:30px;
        margin-bottom:30px;
        margin-right: 0px!important;
        margin-left: 0px!important;
    }

    .partial-container-form-floating{
        margin-top:30px;
        margin-bottom:30px;
    }

    #container-display-orders{
        margin-top: -15px;
        width: 80%;
    }

    #container-choose-registration{
        width: 90%;
        padding: 20px;
        padding-left:0px;
        padding-right:0px;
    }

    #ban-form{
        width:100%;
    }

    .generic-form{
        width:100%;
    }

    #container-report{
        width: 95%;
        padding: 10px;
        padding-top: 30px;
    }

    .report-title{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        margin-bottom: 3px;
        font-weight: bold;
    }
    
    .report-description{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .img-preview-in-card{
        max-width:30%;
        margin-bottom: 5px;
        float: left;
    }
    
    .price-in-card{
        padding: 0px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 18%;
        margin: 0px;
        color: var(--preset_color_red);
        font-weight: bold;
        text-align: right;
        font-size: 20px;
        width: 70%!important;
    }
    
    .title-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-weight: bold;
        font-size: 22px;
        margin: 0px;
    }
    
    .description-in-card{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-size: 16px;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .standard-button-restyle{
        margin-top: 6px;
        background-color: var(--preset_color_red);
        color: var(--color_white);
        border-radius: 25px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        text-align: center;
        max-width: 170px;
    }

    .description-in-card-text{
        display: inline-block;
        width: 100%;
        color: var(--preset_color_red);
        font-size: 18px;
        margin: 0px;
        text-align: start;
        margin-top: 0px;
    }
    
}

@media (max-width: 320px){

    .login-form-style{
        background-color: var(--preset_color_yellow_secondary)!important;
        opacity: 1;
        filter: blur(0px);
        margin-right: 0px!important;
        width: 230px;
        border-radius: 5px;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 5px;
        position: absolute;
        left: 50%;
        margin-left: -115px!important;
    }

    .registration-title{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    
    .registration-description{
        color: var(--preset_color_red);
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
    }

    #container-report-order{
        padding-right: 7%;
        font-size: 12px;
        margin-top: -10px;
    }

    #container-display-orders{
        margin-top: -15px;
        width: 90%;
    }

    #container-choose-registration{
        width: 100%;
        padding: 20px;
        padding-left:0px;
        padding-right:0px;
    }
    
    .price-in-card{
        padding: 0px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 20%;
        margin: 0px;
        color: var(--preset_color_red);
        font-weight: bold;
        text-align: right;
        font-size: 16px;
        width: 70%!important;
    }

}

/*Resizing preset*/
/*
    @media (max-width: Xpx) and (min-width: Ypx){
        ...
    }
*/