/*Variables for colors*/
:root{
    --preset_color_red: #a3140e;
    --preset_color_yellow: #feb83e;
}

/*CSS*/

/*******************ID*******************/

#er-logo{
    color: var(--preset_color_red);
}
#toggle-cstyle{
    background-color: var(--preset_color_red);
}
#image-home{
    margin: 0px;
    margin-top: 11px;
    margin-bottom: 18px;
    width: 650px;
}
#search-field{
    width: 40%;
    margin-top: -1;
    margin-bottom: 25px;
}
#header-span-btns{
    display: block;
    float: right;
}
/*******************CLASSES*******************/

.header-button{
    margin-right: 4px;
    margin-left: 4px;
    background-color: var(--preset_color_red);
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}

.standard-button{
    width: 82px;
    height: 30px;
    font-size: 15px;
    background-color: var(--preset_color_yellow);
}

/*Responsiveness goes here*/
@media (max-width: 968px){

    #search-field{
        width: 50%;
        margin-top: -1;
        margin-bottom: 25px;
    }
    
}
@media (max-width: 768px){

    #search-field{
        width: 60%;
        margin-top: -1;
        margin-bottom: 25px;
    }

    #header-span-btns{
        display: block;
        float: left;
        margin-top: -5px;
        padding-bottom: 0px;
    }

    .header-button{
        margin-right: 8px;
        margin-left: 0px;
        background-color: var(--preset_color_red);
        border-radius: 12px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        font-size: 14px;
    }
    
}
@media (max-width: 525px){

    #search-field{
        width: 70%;
        margin-top: -1;
        margin-bottom: 25px;
    }
    
}

/*Resizing preset*/
/*
    @media (max-width: Xpx) and (min-width: Ypx){
        ...
    }
*/